<div class="todolist">
  <div class="row">
  <div class="col-2">
    <h1>TodoList</h1>
  </div>
  <div class="col-8">
    <input [(ngModel)]="searchText" class="form-control search"  type="text" placeholder="Search Todo" aria-label="Search">
  </div>
</div>
  <table class="table table-hover">
  <thead>
  <tr class="row">
    <th class="col">Done?</th>
    <th class="col">Title</th>
    <th class="col">Category</th>
    <th class="col">Priority</th>
    <th class="col">Edit</th>
    <th class="col">Delete</th>
    <th class="col-2">Date</th>
  </tr>
  </thead>
  <tbody>
  <tr class="row"
      *ngFor="let task of this._taskList | searchFilter: searchText : clickedCategories : searchText != '' : this.clickedCategories.length != 0; let i = index;"
  >
    <td class="col">
      <input id="doneCheckbox{{i}}" type="checkbox" (change)="done(task.id)">
    </td>
    <td class="col">
      <span [className]="this.task.done ? 'finish-title' : 'title'">{{this.task.title}}</span>
    </td>
    <td class="col">
      <span>{{this.task.category.title}}</span>
    </td>
    <td *ngIf="this.task.priority == 2 || this.task.priority == 'high'; then highBlock"></td>
    <td *ngIf="this.task.priority == 1 || this.task.priority == 'medium'; then mediumBlock"></td>
    <td *ngIf="this.task.priority == 0 || this.task.priority == 'low'; then lowBlock"></td>
    <ng-template #highBlock><td class="col"><fa-icon style="color: #ff0f0f" [icon]="['fas', 'angle-double-up']"></fa-icon></td></ng-template>
    <ng-template #mediumBlock><td class="col"><fa-icon style="color: #ffa500" [icon]="['fas', 'angle-up']"></fa-icon></td></ng-template>
    <ng-template #lowBlock><td class="col"><fa-icon [icon]="['fas', 'angle-down']"></fa-icon></td></ng-template>
    <td class="col">
      <button class="btn btn-outline-secondary" (click)="openEditModal(task)"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button>
    </td>
    <td class="col">
      <button class="btn btn-outline-danger" (click)="delete(task.id)"><fa-icon [icon]="['fas', 'trash']"></fa-icon></button>
    </td>
    <td class="col-2">{{task.date | date: 'd. MMMM y, H:mm:ss'}}</td>
  </tr>
  </tbody>
</table>
</div>
