language: node_js

node_js:
  - "stable"

branches:
  only:
    - main

before_install:
  - npm i -g npm@latest
  - npm i

cache:
  directories:
    - node_modules

before_script:
  - npm install -g @angular/cli

script:
  - ng lint
#  Watch mode (--watch true) will wait and check for any file changes
#  and once it detects change it will rerun all the tests and again will wait for the next change.
#  It works extremely well in development but if it happens in CI, then it will think that the tests are still
#  running and will wait eternally. So it should be turned off there.
  - ng test --watch false --browsers ChromeHeadless
# sth doesnt work with this cause apperantly some chrome version doesnt fit ( look at travis report #42.1 )
#  - ng e2e --protractor-config='e2e/ci.protractor.conf.js'
  - ng build

deploy:
  provider: pages
  skip_cleanup: true
  github-token: $GITHUB_TOKEN
  local_dir: build
  on:
    branch: main
