<div class="container" id="task-container">
  <div id="form-wrapper">
    <form id="categoryForm" (ngSubmit)="onSubmitC()">
      <div class="input-group">
        <label for="categoryInput"></label>
        <input id="categoryInput" type="text" class="form-control col-8" required name="title" placeholder="Category" [(ngModel)]="title">
        <div class="input-group-append">
          <button type="submit" id="categorySubmit" class="btn">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>


