<nav class="navbar navbar-dark bg-dark">
  <a href="#" class="navbar-brand home">TodoApp</a>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <div>
        <app-task-table></app-task-table>
      </div>
    </div>
    <div class="col-3">
      <div>
        <app-task-input></app-task-input>
      </div>
      <div>
        <app-category-input></app-category-input></div>
      <div>
        <app-category-element></app-category-element>
      </div>
    </div>
  </div>
</div>

